@model PercoidCRUD.Models.Intern;

@{
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>SUCCESS!</strong>@TempData["AlertMessage"]
    </div>
}
<link rel="stylesheet" href="~/css/addform.css" asp-append-version="true" />
<form method="post" action="Add" onsubmit="return confirmSubmit()">
    <fieldset >
        <legend>Personal Information</legend>

        <label for="first-name">First Name:</label>
        <input type="text" class="form-control" asp-for="Name">

        <label for="first-name">Address:</label>
        <input type="text" class="form-control" asp-for="Address">

        <label for="first-name">Joining Date:</label>
        <input type="date" class="form-control" asp-for="JoiningDate">

        <label for="first-name">Salary:</label>
        <input type="text" class="form-control" asp-for="Salary">

    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
    function confirmSubmit() {
        return confirm('Are you sure you want to enter this info?');
    }
</script>
